{% extends "publico/base.html" %}
{% block conteudo %}
<div class="container-fluid px-0">
    <div class="row g-0 row-cols-1 row-cols-md-3 h-100">
        <div class="col">
            <a href="#pret-a-porter" class="text-decoration-none">
                <div class="grid-image">
                    <img src="/static/img/img_home/terceiracol.jpg" alt="Prêt-à-porter">
                    <div class="grid-overlay">
                        <h2 class="text-white">Serviços</h2>
                        <p>Aluguéis de vestidos, contratação de músicos, decoração e muito mais.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="#novidades" class="text-decoration-none">
                <div class="grid-image">
                    <img src="/static/img/img_home/segundacol.jpg" alt="Novidades">
                    <div class="grid-overlay">
                        <h2 class="text-white">Espaços</h2>
                        <p>Espaços requintados, igrejas, fazendas, salões de festa e muito mais.</p>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/produtos" class="text-decoration-none">
                <div class="grid-image">
                    <img src="/static/img/img_home/primeiracol.jpg" alt="Óculos">
                    <div class="grid-overlay">
                        <h2 class="text-white">Produtos</h2>
                        <p>Bolos personalizados, lembrancinhas, convites e muito mais.</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock conteudo %}