{% extends "base.html" %}
{% block conteudo %}

<!-- Menu Flutuante -->

<nav class="menu-topo shadow-sm">
    <div class="container-fluid d-flex align-items-center">
        <span class="menu-title fw-bold">Encontre o que você precisa</span>
        <ul class="nav ms-4">
            <li class="nav-item"><a href="#" class="nav-link">Acessórios</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Alianças</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Bolos</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Bridal Day</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Buffet</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Cenografia e Sonoplastia</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Convites</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Floristas</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Fotógrafos</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Lembranças</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Locais</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Ternos</a></li>
            <li class="nav-item"><a href="/produtoseservicos_vestidos" class="nav-link">Vestidos</a></li>
        </ul>
    </div>
</nav>








{% endblock conteudo %}