{% extends "base.html" %}
{% block conteudo %}

<!-- ESSA É A PÁGINA DE VER MAIS-->

<div class="container-fluid bg-light min-vh-100">
        <div class="row h-100">
            <!-- Seção da Imagem -->
            <div class="col-lg-6 d-flex align-items-center justify-content-center p-5">
                <div class="product-image-container">
                    <img src="/static/img/img_produtoseservicos/img_produtoseservicos_vestidos/vermais_card_vestido1.jpg" 
                         alt="" 
                         class="img-fluid product-image">
                </div>
            </div>

            <!-- Seção das Informações do Produto -->
            <div class="col-lg-6 d-flex align-items-center">
                <div class="product-info w-100 p-5">
                    <!-- Título e Marca -->
                    <div class="mb-4">
                        <h1 class="product-title mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, illo!</h1>
                        <p class="product-brand text-muted mb-1">Lorem ipsum dolor sit amet.</p>
                    </div>

                    <!-- Disponibilidade -->
                    <div class="availability-section mb-4">
                        <div class="availability-box p-3 rounded">
                            <p class="mb-0 text-center">Lorem, ipsum dolor.</p>
                        </div>
                    </div>

                    <!-- Botão de Contato -->
                    <div class="contact-section mb-4">
                        <button class="btn btn-contact w-100 py-3">Contato</button>
                    </div>

                    <!-- Abas de Informações -->
                    <div class="product-tabs">
                        <ul class="nav nav-tabs border-0" id="productTabs" role="tablist">
                            <li class="nav-item" role="presentation">
                                <button class="nav-link active custom-tab" id="description-tab" data-bs-toggle="tab" 
                                        data-bs-target="#description" type="button" role="tab">
                                    Descrição
                                </button>
                            </li>
                        </ul>
                        
                        <div class="tab-content mt-3" id="productTabsContent">
                            <div class="tab-pane fade show active" id="description" role="tabpanel">
                                <p class="tab-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. In sit quas sed quam accusamus error ratione eos! Ex, nostrum! Magni distinctio officia dolorem reprehenderit excepturi iure temporibus maxime veniam corrupti nesciunt ipsam quidem dolores quasi odit praesentium numquam nemo obcaecati eius velit exercitationem, rem sit adipisci. Repudiandae dolor sunt itaque!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>




{% endblock conteudo %}
