{% extends "base.html" %}
{% block conteudo %}
<div class="container-fluid px-0">
    <div class="row g-0 row-cols-1 row-cols-md-3">
        <div class="col">
            <a href="#pret-a-porter" class="text-decoration-none">
                <div class="grid-image">
                    <img src="/static/img/img_home/terceiracol.jpg" alt="Prêt-à-porter">
                    <div class="grid-overlay">
                        <h5>Vestimentas</h5>
                        <small>Descubra os melhores looks</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="#novidades" class="text-decoration-none">
                <div class="grid-image">
                    <img src="/static/img/img_home/segundacol.jpg" alt="Novidades">
                    <div class="grid-overlay">
                        <h5>Locais</h5>
                        <small>Explore novos horizontes</small>
                    </div>
                </div>
            </a>
        </div>
        <div class="col">
            <a href="#oculos" class="text-decoration-none">
                <div class="grid-image">
                    <img src="/static/img/img_home/primeiracol.jpg" alt="Óculos">
                    <div class="grid-overlay">
                        <h5>Produtos e serviços</h5>
                        <small>Contate os melhores profissionais</small>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container py-5">
    <h3 class="mb-4 text-center" style="font-family: 'Playfair Display', serif">
        Destaques da Temporada
    </h3>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100 shadow-sm border-0">
                <img src="/static/img/img_home/card2.jpg" class="card-img-top" alt="Vestido de Noiva">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Tendências em Vestidos</h5>
                    <p class="card-text">Conheça os estilos mais desejados do ano para vestidos de noiva.</p>
                    <div class="mt-auto d-flex justify-content-center">
                        <a href="#pret-a-porter" class="btn btn-custom">Ver mais</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm border-0">
                <img src="/static/img/img_home/card1.jpg" class="card-img-top" alt="Local para Casamento">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Espaços Inesquecíveis</h5>
                    <p class="card-text">Locações encantadoras para cerimônias ao ar livre e clássicas.</p>
                    <div class="mt-auto d-flex justify-content-center">
                        <a href="#novidades" class="btn btn-custom">Ver mais</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm border-0">
                <img src="/static/img/img_home/card3.jpg" class="card-img-top" alt="Detalhes do Evento">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Detalhes que Encantam</h5>
                    <p class="card-text">Ideias criativas para lembrancinhas, decoração e papelaria personalizada.</p>
                    <div class="mt-auto d-flex justify-content-center">
                        <a href="#oculos" class="btn btn-custom">Ver mais</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock conteudo %}
